extends layout

block content
  h1= title
  p Simple and small Space Application using Node and Express Framework by Raul Garcia.
  p RSM Development Node JS Test App.
  p ....
  p Tabla de coordenadas para obtener una imagen satelital desde la Nasa API.
  
  form(action="/" method="GET")
    table
      tr
        th  Latitud
        th  Longitud
        th  Fecha
        th
      tr 
        td
          input(type='number' name='lat' pattern='([0-9]{1,3}).([0-9]{1,2})' min='-90' max='90' step='.01')
        td
          input(type='number' name='lon' pattern='([0-9]{1,3}).([0-9]{1,2})' min='-180' max='180' step='.01') 
        td 
          input(type='date' name='info' value= defdate)
        td 
          input(type="submit")
  
  table
    tr
      td 
        img(src= imgsrc[0] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td 
        img(src= imgsrc[1] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td 
        img(src= imgsrc[2] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
    tr
      td 
        img(src= imgsrc[3] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td(style='background-color:#FF0000') 
        img(src= imgsrc[4] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td 
        img(src= imgsrc[5] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
    tr
      td 
        img(src= imgsrc[6] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td 
        img(src= imgsrc[7] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')
      td 
        img(src= imgsrc[8] onerror="if (this.src != 'images/noimage.jpg') this.src = 'images/noimage.jpg';" width='150' height='150')

  p Request desde:
          h5=imgsrc[4]
         
